body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #ffffff !important;
  padding: 0.5em;
  height: 75px;
  color: #000000;

}

.navbar-logo {
  top: 15px;
  position: relative;
}

.navbar-items {
  text-align: right;
  top: -13px;
  position: relative;
  padding: 5px;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 1em;
  position: relative;
}

nav a:hover {
  background-color: #555;
}

header {
  color: #fff;
  padding: 4em;
  background-color: #17a2b8;

  h2 a {
    font-size: x-large;
    text-decoration: none;
    color: #FEA116;
  }

  h1 {
    animation: fadeInDown;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
    margin-bottom: 1px;
    margin-left: 89px;
    font-size: 70px;
  }

  p {
    margin-left: 89px;
    line-height: 40px;
  }

}

.header-learn-more {
  text-decoration: none;
  margin-left: 89px;
  font-weight: 400;
  color: #fff;
  background-color: #00394f;
  border-color: #00394f;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 30px;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  cursor: pointer;
  text-align: center;
}

.animated-picture {
  animation: fadeIn;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s;
  /* don't forget to set a duration! */
  margin: auto;
  margin-bottom: -460px;
  margin-right: 40px;
  padding-bottom: 71px;
  display: table;
  justify-content: right !important;
  top: -390px;
  position: relative;

}

.icon-setting {
  color: #17a2b8 !important;
  font-weight: 400 !important;
  margin-bottom: 1rem !important;
  font-size: 2.5rem;
}

.card-table {
  animation: fadeInUp;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.card {
  margin: 1.5rem;
  padding: 30px;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex !important;
  border-radius: 5px !important;
  border-top: 1px solid #dee2e6 !important;
  background-color: #f8f9fa !important;
  box-sizing: border-box;
}

.crad-rows {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.card:hover {
  color: #FEA116;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.index-about {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-left: 173px;
  flex-wrap: wrap;
  padding-top: 45px;
}

.row-align-items {
  display: flex;
}

.index-about-text-align {
  padding-top: 30px;
  padding-left: 45px;
}

.index-about-text {
  display: flex;
}

.index-learn-more,
.index-learn-more a {
  text-decoration: none;
  color: #fff;
  /* Ensure the desired color is specified */
}

.index-learn-more {
  margin-top: 15px;
  background-color: #00394f;
  border-color: #00394f;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 1rem 3rem;
  /* Shortened padding shorthand */
  cursor: pointer;
  text-align: center;
}
.list-inline {
  list-style: none; 
}

.list-inline li {
  display: flex; 
  align-items: center; 
  line-height: 2; 
}

.list-inline li img {
  margin-right: 10px; 
}
